includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - modules/
    level: 7

    inferPrivatePropertyTypeFromConstructor: true

    treatPhpDocTypesAsCertain: false
